/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif;
}
a:hover { text-decoration: none }
a:focus{outline: 0 !important;text-decoration: none !important;}


/*Navbar*/
header .navbar{
	min-height: auto;
	margin-bottom: 0;
}
.navbar.navbar-default {
    background: #fff;
    padding: 0;
    border:0;
	display: black;
	overflow: hidden;
}
header .social-icon {
    padding: 10px 0;
}
header .social-icon .social-ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
header .social-icon .social-li{
	display: inline-block;
	margin-right:10px;
}
header .social-icon a img{
	width: 19px;
	margin: -4px 0 0 0;
	opacity: 0.2;
}
header .social-icon a i {
    font-size: 18px;
    color: #ccc;
}
header .social-icon li a i:hover {
    color: #FFBA02 !important;
}
/*header .logo {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 5px;
}*/
header .nav.navbar-nav {
  float: right;
}
.nav.navbar-nav li{
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}
.nav.navbar-nav li a {
  padding: 12px 30px;
  color: #999;
  font-size: 14px;
  transition: .3s;
}
.nav.navbar-nav li a:hover {
    background: #fafafa;
    color: #FFBA02;
}
.navbar-default .navbar-nav > li > a:focus{
  color: #FFBA02;
}
header .nav.navbar-nav li:nth-child(1) {
  border-right: 1px solid #ccc;
}
header .nav.navbar-nav li:nth-child(2) {
  border-right: 1px solid #ccc;
}
header .nav.navbar-nav li:nth-child(3) {
  border-right: 1px solid #ccc;
}

/*Navbar*/


/* Header */
.header-section{
  position: relative;
}

.header-area{
    height:65vh;
}
.header-area .profile-img {
    text-align: center;
}

.header-area .profile-img img {
    max-width: 200px;
    padding: 5px;
    border: 1px solid #efefef;
}

.header-area .short-bio {
  text-align: center;
}
.header-area .short-bio h1 {
  font-size: 5.7em;
  font-weight: 300;
  color: #333;
}
.header-area .short-bio h1 span {
  font-weight: 700;
  color: #333;
  position: relative;
}
.header-area .short-bio h1 span:before {
  background: #FFBA02;
  width: 100%;
  height: 2px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: "";
}
.header-area.display-table {
    display: table;
    width: 100%;
    height: calc(100vh - 45px);
}
.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.header-area .short-bio p {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 15px;
  letter-spacing: 1px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: 0px;
  bottom: 40px;
  margin-top: 0px;
  -webkit-box-shadow: inset 0 0 0 1px #e0dcdc;
          box-shadow: inset 0 0 0 1px #e0dcdc;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #FFBA02;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    background-color: #F3F3F3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 7%;
    border-right: 1px solid #ccc;
}
.sidenav a {
    padding: 8px 8px 10px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}
.sidenav a:hover {
    color: #FFBA02;
}
.sidenav a img {
    width: 31px;
    padding-right: 6px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
span.hireme-btn {
    background: #FFBA02;
    color: #333;
    font-size: 14px;
    padding: 10px;
    /* writing-mode: tb-rl; */
	 writing-mode: vertical-lr;
    border-radius: 0 6px 6px 0px;
    font-weight: 600;
    box-shadow: 0 0 8px #999;
    transition: .3s;
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 19;
}
span.hireme-btn:hover {
    font-size: 16px;
}
/* Header End */


#animatedModal {
  background: #1c92d2;
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);
  background: linear-gradient(to left, #f2fcfe, #1c92d2);
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.section-padding {
  padding: 80px 0;
}
.portfolio-items-row .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.gr-bg:nth-child(1), .gr-bg:nth-child(5), .gr-bg:nth-child(11), .gr-bg:nth-child(15) {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to left, #fbfbfb, #cecece);
    background: linear-gradient(to left, #fbfbfb, #cecece);
}
.gr-bg:nth-child(3), .gr-bg:nth-child(7), .gr-bg:nth-child(9), .gr-bg:nth-child(13) {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to bottom, #fbfbfb, #cecece);
    background: linear-gradient(to bottom, #fbfbfb, #cecece);
}

.single-item a{
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 4s;
  position: relative;
  display: inline-block;
  transition: .5s;

} 
.single-item a:hover > .hover-content {
    opacity: 1;
}
.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.65) 100%);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: calc(50% - 28px);
    display: block;
    font-size: 25px;
    background-color: rgba(251, 250, 250, 0.6);
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
}


.btn-close {
  text-align: center;
  padding: 20px;
}
.btn-close .fa.fa-times-circle {
  font-size: 32px;
  color: #fff;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 48px;
  cursor: pointer;
}

.full-view-item {
  background: #f8f6f6;
  text-align: center;
  padding: 40px;
  min-height: 1600px;
}

.items-content {
  padding: 40px 40px;
  box-shadow: 0 0 38px #e1dada;
  height: ;
}


.client-comment p {
  font-size: 16px;
  font-weight: 400;
  color: #7e7e7e;
}

.client-comment .fa.fa-thumbs-up {
  font-size: 54px;
  padding-bottom: 20px;
  color: #0aad68;
}

.client-comment h4 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
.client-comment h4 span {
  font-weight: 300;
}

.client-comment {
  padding-bottom: 10px;
  border-bottom: 1px dashed #d2d1d1;
  margin-bottom: 35px;
}

.project-name h4 {
  font-size: 22px;
  line-height: 1.4em;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d2d1d1;
  margin-bottom: 35px;
}


.order-info{
    padding-bottom: 10px;
    border-bottom: 1px dashed #d2d1d1;
    margin-bottom: 35px;
}

.order-info ul {
  list-style: none;
  padding: 0;
}
.order-info ul li {
  padding-bottom: 5px;
  font-size: 16px;
  color: #7e7e7e;
}
.order-info ul li span {
  font-weight: bold;
  padding-right: 8px;
  color: #333;
}

.order-info h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 20px;
}

.order-info .fa.fa{
    color: #0AAD68;
}
.order-info h4 span {
  font-weight: 300;
}
.title{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 20px;
}
.title span{
  font-weight: 300;
}

.live-btn {
    font-weight: 900;
    font-size: 22px;
    padding-bottom: 30px;
    display: inline-block;
    border-bottom: 1px dashed #d2d1d1;
    margin-bottom: 35px;
    width: 100%;
}

.compatible-devices p {
    font-size: 12px;
    line-height: 24px;
    color: #7e7e7e;
    padding-bottom: 20px;
}
.compatible-mail-clients p {
    font-size: 15px;
    line-height: 27px;
    color: #7e7e7e;
}

.mdl-footer-content {
  text-align: center;
  padding: 25px 20px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/* About Page */

.full-header-area {
    height: 100vh;
    overflow: hidden;
    background: #f3f3f3;
    background: -webkit-linear-gradient(to bottom, #f3f3f3, #fafafa, #F2F2F2, #f3f3f3);
    background: linear-gradient(to bottom, #f3f3f3, #fafafa, #fafafa, #f3f3f3);
}
.full-header-area .navbar.navbar-default {
    background: transparent;
}
.header-content{  
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}
.header-content p {
    font-weight: 300;
    font-size: 20px;
    color: #777;
}
.header-content h1 {
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
    color: #1D1D1F;
}
.my-expertise-heading h1 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    margin: 50px 0;
}





.portfolio, .contact{
	padding: 40px 0;
}
.portfolio h2, .contact h2{
	margin-bottom: 5px;
}
.underline{
	border-top: 2px solid #FFBA02;
	width: 180px;
	display: block;
	margin: auto;
}


/* Controls
---------------------------------------------------------------------- */

.controls {
	padding: 1rem;
	text-align: center;
	margin: 40px 0;
}

.control {
    position: relative;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #999;
	border: none;
}

.control:hover {
	color: #FFBA02;
}


.mixitup-control-active {
	color: #FFBA02;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}
.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

/* Container
---------------------------------------------------------------------- */

.grid {
    padding: 1rem;
}

.grid:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */



/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
	display: inline-block;
	padding: 5px;
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}

.image-bg{
	width: 100%;
	height:360px;
	display:inline-block;
	position: relative; 
	margin-bottom:0;
}
.image-bg:hover {
    box-shadow: 4px 5px 10px #ddd;
}
.image-bg .image-shop-scroll{
	background-position: center 0;
	background-repeat: no-repeat;
	position:absolute;
	width: 100%;
	height: 360px;
	left: 0;
  background-size:cover;
}

.image-bg .image-shop-scroll{
	transition: all 8s ease-out 0s;
	-webkit-transition: all 8s ease-out 0s;
	-moz-transition: all 8s ease-out 0s;
	-ms-transition: all 8s ease-out 0s;
	-o-transition: all 8s ease-out 0s;
}
.image-bg:hover .image-shop-scroll{
	background-position: center 100%!important;
}
.white-bg{
	background: #fff;
}
.model-con{
	height: 100vh;
}
.model-con h4{
	margin-top: 20px;
}
.model-con .content{
	margin-bottom: 20px;
}
.close-model {
    text-align: right;
}
.btn-primary {
    color: #333;
    background-color: #FFBA02;
    border-color: #FFBA02;
}
.btn-primary:hover, .btn-primary:active:focus {
    color: #fff;
    background-color: #FFBA02;
    border-color: #FFBA02;
}
a{
	color: #FFBA02;
}
a:hover{
	color: #fff;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.form-group.input-field.col-xs-12 {
    padding: 10px 20px 0 0;
}
.form-group.input-field.col-md-6 {
	padding: 10px 20px 0 0;
}
.text-center.col-xs-12{
	margin-top: 20px;
}
.contact-top.text-center {
    margin-bottom: 40px;
}

.border-bottom{
	background: #FFBA02;
	width: 110px;
	height: 2px;
	margin: auto;
	display: block;
	overflow: hidden;
}
.form-group {
    margin-bottom: 20px;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
	border-bottom: 1px solid #FFBA02;
}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #FFBA02;
    -webkit-box-shadow: 0 1px 0 0 #FFBA02;
    box-shadow: 0 1px 0 0 #FFBA02;
}
input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
 color:#FFBA02
}
.btn-contact {
    background-color: #FFBA02;
    border: 1px solid #FFBA02;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}
.btn-contact:hover{
	color: #fff;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.input-field>label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}
.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-12px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


footer {
    margin-top: 80px;
    display: block;
    overflow: hidden;
	padding: 10px 0;
}
footer span.copyright {
    font-size: 16px;
    line-height: 40px;
    text-transform: none;
}
footer ul.quicklinks {
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
	text-align: right;
}
footer a{
	color: #FFBA02;
}
footer a:hover{
	color: #333;
}
ul.social-buttons {
    text-align: center;
	margin: 0;
	float: right;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #333;
    border-radius: 100%;
    outline: 0;
    background-color: #FFBA02;
}
ul.social-buttons li a:hover{
	color: #fff;
}

.hireme-btn:hover{
	color: #fff;
}